menu "Emulator console configuration"

    config CONSOLE_STORE_HISTORY
        bool "Store command history in flash"
        default y
        help
            Linenoise line editing library provides functions to save and load
            command history. If this option is enabled, initializes a FAT filesystem
            and uses it to store command history.

    config CONSOLE_MAX_COMMAND_LINE_LENGTH
        int "Maximum command line length"
        default 1024
        help
            This value marks the maximum length of a single command line. Once it is
            reached, no more characters will be accepted by the console.

    menu "I2C devices configuration"
        config SDA_PIN
            int "SDA GPIO for I2C"
            default 5

        config SCL_PIN
            int "SCL GPIO for I2C"
            default 6

        config PRIMARY_IO_EXPANDER_ADDRESS
            hex "Default hex address for primary IO Expander"
            default 0x20
            help
                Sets the default address value for the primary GPIO expander. 
                0x20 for a PCF8574 with A0->A2 = 0.        
    endmenu

    menu "PWM generators IO"
        config COOLANT_PWM_GEN_GPIO
            int "GPIO for the coolant PWM generator on LEDC Channel 0"
            default 1

        config RPM_PWM_GEN_GPIO
            int "GPIO for the RPM PWM generator on LEDC Channel 1"
            default 2

        config SPEED_PWM_GEN_GPIO
            int "GPIO for the speed PWM generator on LEDC Channel 2"
            default 3
        
    endmenu

    menu "PWM generators parameters"
        config COOLANT_PWM_BASE_FREQ_HZ
            int "Lowest possible frequency for this PWM generator, in Hertz."
            default 100
            help
                On the Coolant channel, the PWM is modulated in duty cycle, not in frequency. 
                This is relevant for duty resolution calculaiton, recommended value is 100Hz.

        config COOLANT_PWM_BASE_DUTY_PCT
            int "Starting duty cycle, in entire percentile."
            default 10

        config RPM_PWM_BASE_FREQ_HZ
            int "Lowest possible frequency for this PWM generator, in Hertz."
            default 3
            help
                For the RPM channel, this is a very low RPM (very far away from idle RPM).
                The 3Hz limit is a functional limit because of the input clock of the LEDC module
                and the limit to 15 bits resolution for hte duty modulation.

        config RPM_PWM_BASE_DUTY_PCT
            int "Starting duty cycle, in entire percentile."
            default 25
        

        config SPEED_PWM_BASE_FREQ_HZ
            int "Lowest possible frequency for this PWM generator, in Hertz."
            default 3
            help
                For the SPEED channel, this is a very low kph value (normally under 1kph or 1mph).
                The 3Hz limit is a functional limit because of the input clock of the LEDC module
                and the limit to 15 bits resolution for hte duty modulation.

        config SPEED_PWM_BASE_DUTY_PCT
            int "Starting duty cycle, in entire percentile."
            default 33
    endmenu

endmenu


