menu "Interface board configuration"
    
    menu "I²C configuration"
        config SDA_PIN
            int "SDA GPIO for I2C"
            default 12

        config SCL_PIN
            int "SCL GPIO for I2C"
            default 13
                
        config PRIMARY_ADC_ADDR
            hex "Hex address for primary ADC chip"
            default 0x48
            help
                Sets the default address for the ADC. 
                0x48 for a ADS1115 without address bits set.
        
        config ADC_TO_SMA_POLLING_RATE_MS
            int "Polling interval to add an element to the SMA"
            default 200
            help
                Keep it relative to the SMA size to increase filtering and lag or not.

        config SMA_0_SIZE
            int "Size of SMA filter for ADC 0"
            default 100
            help
                Multiply it by polling rate to get time window. E.g. 200ms at 100 elements -> 20s filtering.
            
        config SMA_1_SIZE
            int "Size of SMA filter for ADC 1"
            default 10
            help
                Multiply it by polling rate to get time window. E.g. 200ms at 100 elements -> 20s filtering.

        config SMA_2_SIZE
            int "Size of SMA filter for ADC 2"
            default 10
            help
                Multiply it by polling rate to get time window. E.g. 200ms at 100 elements -> 20s filtering.

        config SMA_3_SIZE
            int "Size of SMA filter for ADC 3"
            default 10
            help
                Multiply it by polling rate to get time window. E.g. 200ms at 100 elements -> 20s filtering.
    endmenu

    menu "IO Expander configuration"

        config EXP_INT_PIN
            int "Interrupt pin for primary expander"
            default 11
            help
                Interrupt pin for the primary expander. Might be reversed logic!

        config USE_EXPANDER_INTERRUPT
            bool "Whether or not to use the expander interrupt to be more reactive"
            default true
            help
                This might create core panics. Use wisely.

        config INTERRUPT_DEBOUNCE_US
            depends on USE_EXPANDER_INTERRUPT
            int "Debounce time for expander interrupt, in microseconds"
            default 2000

        config EXPANDER_POLLING_RATE_MS
            int "Polling rate of the primary expander in ms"
            default 50
                    

        config PRIMARY_IO_EXPANDER_ADDRESS
            hex "Default hex address for primary IO Expander"
            default 0x20
            help
                Sets the default address value for the primary GPIO expander. 
                0x20 for a PCF8574 with A0->A2 = 0.

    endmenu

    menu "MCPWM configuration"
        config LOOP_LOG_MCPWM
            bool "Read MCPWM values in main loop."
            default true

        config COOLANT_PWM_CAP_GPIO
            int "GPIO for the capture of the coolant PWM"
            default 7

        config RPM_PWM_CAP_GPIO
            int "GPIO for the capture of the RPM pulses"
            default 8

        config SPEED_PWM_CAP_GPIO
            int "GPIO for the capture of the speed PWM"
            default 9 
    endmenu

endmenu